@page
@using BookTracker_Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p> There are @ViewData["NumBooks"] Books Available: </p>

<ul>
    @foreach (Book item in Model.Books)
    {
        <li>
            <div>
                <a>@item.Title  </a><a asp-page="EditBook" asp-route-Id="@item.Id">  Edit</a>
                <p>@item.Description</p>
            </div>
        </li>


    }
</ul>

<div>
    <a asp-page="AddBook">  Add New Book</a>

</div>

<div>
    <a asp-page="AddEdition">  Add New Edition</a>

</div>